export "NUXT_GITHUB_TOKEN"="YOUR_GITHUB_TOKEN"
export "NUXT_PUBLIC_BASE_URL"="https://www.domain.tld"
export "NUXT_MAIL_RECIPIENT"="Customer Service <support@domain.tld>"
export "NUXT_MAIL_SMTP_HOST"="mx.domain.tld"
export "NUXT_MAIL_SMTP_PORT"="465"
export "NUXT_MAIL_SMTP_TLS"="true"
export "NUXT_MAIL_SMTP_USERNAME"="no-reply@domain.tld"
export "NUXT_MAIL_SMTP_PASSWORD"="password"