/* Inter */

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src:
    url("/assets/fonts/Inter/de+en/Regular.woff2") format("woff2"),
    url("/assets/fonts/Inter/de+en/Regular.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src:
    url("/assets/fonts/Inter/de+en/Medium.woff2") format("woff2"),
    url("/assets/fonts/Inter/de+en/Medium.woff") format("woff");
}

/* Outfit */

@font-face {
  font-display: swap;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  src:
      url("/assets/fonts/Outfit/de+en/Regular.woff2") format("woff2"),
      url("/assets/fonts/Outfit/de+en/Regular.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  src:
      url("/assets/fonts/Outfit/de+en/SemiBold.woff2") format("woff2"),
      url("/assets/fonts/Outfit/de+en/SemiBold.woff") format("woff");
}